* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    margin-top: 60px;
    font-family: 'Manrope', 'sans-serif';
    background-color: #F7F6FF;
    
}
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}