.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    z-index: 200;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar-logo img {
    width: 200px;
}
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.navbar-nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
}
.navbar-nav .nav-link {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
}
.navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.5);
}
.navbar-nav .nav-button {
    background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}
.navbar-nav .nav-button:hover {
    background: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
}
.navbar-nav.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}
.navbar-nav.active .nav-links {
    flex-direction: column;
    flex: 0;
    gap: 30px;
    
}
.navbar-nav.active .nav-button {
    margin-top: 30px;
}
.navbar-nav.active .nav-link {
    font-size: 18px;
    padding: 4px 12px;
    border-radius: 20px;
}
.navbar-nav.active .nav-link:hover {
    background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
    color: #fff;
}

@media only screen and (max-width: 900px) {
    .navbar-nav {
        display: none;
    }

    .menu-bars {
        position: absolute;
        right: 20px;
        background: url('../icons/menu.png') no-repeat;
        background-size: 25px;
        background-position: center;
        width: 40px;
        height: 40px;
        color: #000;
        transition: all 0.4s ease;
        cursor: pointer;
        filter: invert(1);
    }
    .menu-bars.active {
        background: url('../icons/close.png') no-repeat;
        background-size: 20px;
        background-position: center;
        z-index: 999;
    }
}